.BoxPublicação {
  position: relative;
  height: 100vh;
  background-color: #243b55;
}

#bodyPublicacao {
  background-color: #243b55;
  border: 0px solid white;
}

#cardPublicacao {
  text-align: center;
  padding: 10px;
  width: 70%;
  margin: 0 auto;
}

#card-body {
  width: 95%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 20px;
  border: 4px solid rgb(255, 249, 249);
  background-color: #fdfdfd;
  color: rgb(0, 0, 0);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
}

#cardtitle {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  border: 5px solid rgb(254, 255, 255);
  border-radius: 15px;
}

#titulo {
  text-align: left;
  margin-left: 5%;
  color: rgb(0, 0, 0);
  width: 50%;
  float: left;
  font-weight: bold;
  font-size: x-large;
}

#botoes {
  margin: 0 auto;
  text-align: center;
  float: right;
  padding: 1px;
  width: 15%;
}

#buttonsEdição {
  text-align: left;
  margin-right: 2px;
}

#cardText {
  text-align: initial;
  padding: 10px;
  position: fixed top 50% right 0;
}

#boximagem {
  margin: 0 auto;
  text-align: center;
  padding: 5px;
  width: 80%;
}

#img {
  border-radius: 20px;
  width: 70%;
  border: 4px solid rgb(0, 0, 0);
}

#rodape {
  position: relative;

  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

#link {
  float: left;
  width: 40%;
}

#data {
  float: right;
  width: 40%;

  margin-top: 10px;
  text-align: right;
}

#BtnNovo {
  position: relative;
  margin: 0 auto;
  text-align: center;
}

#BtnNovo button {
  margin: 0 auto;
  text-align: center;
  color: white;
  border: 4px solid white;
  border-radius: 20px;
  padding: 8px;
}

@media (max-width: 1000px) {
  #card-body {
    width: 100%;
  }
  #card-body h5 {
    width: 80%;
  }
  #botoes {
    width: 20%;
  }
}
